<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="templates/style.css">
    <title>Convolução de Imagens</title>
</head>
<body>
  <form method="post" action="/">
      <label for="url">Image URL:</label>
      <input type="text" name="url" id="url" required>
      <button type="submit">Post</button>
  </form>
  <p> {{url}} </p>
  <div id="imagem">
    <img src= 'static/images/img_in.png' >
  </div>
  <div id="imagem">
    <img src= 'static/images/img_in_pix.png' >
  </div>
  <div id="imagem">
     <img src= 'static/images/img_in_pixVal.png' >
  </div>
  <div id="imagem">
     <img src= 'static/images/img_out.png' >
  </div>
  <div id="imagem">
     <img src= 'static/images/img_out_pixVal.png' >
  </div>

  
 
 
  



</body>
</html>