<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>Convolução de Imagens</title>
</head>
<body>
  <div>
    <p> Demonstração de propriedades da convolução aplicadas ao processamento de imagens</p>    
    <p>Este programa foi desenvolvido no âmbito de um projeto final do curso de Licenciatura em Matemática na UNIRIO - Universidade Federal do Estado do Rio de Janeiro</p>
    <p> Rafael Lourenço dos Santos </p>
    <a href="https://github.com/rafsantos/convolucao">Link para o código Fonte</a>

  </div>
  
<div class="formulario"> 
  <form method="post" action="/">
    <p>{{url}} {{mensagem_imagem}}</p>
    <p>
      <label for="url">Link para nova Imagem:</label>
      <input type="text" name="url">
    </p>
    <p>
      <label for="pixHoriz">Número de Pixels Horixontais: {{pixHoriz}}. Alterar: </label>
      <input type="number" name="pixHoriz">
    </p>
    
    <button type="submit">Enviar</button>
  </form>
</div>
  

<div class="entrada">
  <img class="imagem" src= 'static/images/img_in.png' >
  <img class="imagem" src= 'static/images/img_in_pix.png' >
  <img class="imagem" src= 'static/images/img_in_pixVal.png' >
</div>
<div class="saida">
     <img class="imagem" src= 'static/images/img_out.png' >
     <img class="imagem" src= 'static/images/img_out_pixVal.png' >
</div>

</body>
</html>