.imagem {
    width: 400px;
    height: auto;
}

p, form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}  

.entrada {
    background-color: aqua;
}

.saida{
    background-color: darkgoldenrod;
}